.blog {
  padding: 40px 0;
  background-color: $gray-background;

  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .chefs__paragraph {
    text-align: center;
    margin-bottom: 40px;
    @include font($titles-color, 14px, "Open sans", 400);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

     /* Responsive styles */
  @media (max-width: 1024px) {
   
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    
  }
  @media (max-width: 768px) {

      grid-template-columns: 1fr;
      gap: 20px;
    }

  }

  /* Responsive styles */

  


}