.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  position: relative;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 650px;
    text-align: center;

    span, h2, p {
      text-transform: uppercase;
      opacity: 0;
      animation: fadeIn 1s ease-in-out forwards;
    }

    span {
      @include font($main-color, 35px, "Poppins", 600px);
    }

    h2 {
      @include font($white-color, 45px, "Poppins", 600px);
    }

    p {
      @include font($white-color, 18px, "Poppins", 400px);
    }
  }

  .hero__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: $white-color;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 1;

    &--left {
      left: 20px;
    }

    &--right {
      right: 20px;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
