.ourBakery_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $gray-background;

  &__img {
    background-image: url(../../images/img-6.jpg);
    background-size: cover;
    background-position: top;
    height: 550px;
    width: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 60px;
    color: black;

    h2 {
      margin-bottom: 10px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: $main-color;
        position: absolute;
        bottom: -5px;
        left: 0;
      }
    }

    p {
      margin: 20px 0;
    }
    .offer__button {
      display: flex;
      justify-content: start;
      align-items: start;
    }
    .btn {
      background-color: $main-color;
      border: none;
      border-radius: 8px;
      color: $white-color;
    }
    .btn {
      &:hover {
        @include eleHover($main-color, $white-color);
        border: 2px solid $main-color;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__img,
    &__text {
      width: 100%;
    }

    &__img {
      height: 300px;
    }
  }
}
