.ourBakery_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__img {
    background-image: url(../../images/img-6.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px;
    background-color: $gray-background;
    color: black;

    h2 {
      margin-bottom: 10px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: $main-color;
        position: absolute;
        bottom: -5px;
        left: 0;
      }
    }

    p {
      margin: 20px 0;
    }

    .read-more {
      display: inline-block;
      padding: 10px 20px;
      background-color: $main-color;
      color: $white-color;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      margin-top: 20px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__img,
    &__text {
      width: 100%;
    }

    &__img {
      height: 300px;
    }
  }
}
