.navmenu__link {
  color: #555555;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.card--font {
  text-transform: capitalize;
  color: #555555;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.card__content--font {
  color: #696969;
  font-size: 13px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}

.card__content__price--font {
  color: #ebb576;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
}

.title--font {
  text-transform: uppercase;
  color: #555555;
  font-size: 18px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
}

.btn--font {
  text-transform: uppercase;
  text-decoration: none;
  color: #555555;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
  color: inherit;
}

::selection {
  color: #fff;
  background: #ebb576;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.header img {
  width: 110px;
  height: auto;
}
.header .navmenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.header .navmenu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.header .navmenu__list .navmenu__link:hover {
  color: #ebb576;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}
.header .navmenu__list .navmenu__link:first-child {
  color: #ebb576;
}
.header .btn:hover {
  color: #ebb576;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
  border: 2px solid #ebb576;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url(../../images/slide-1.jpg);
  background-size: cover;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 650px;
  text-align: center;
}
.hero__content span {
  text-transform: uppercase;
  color: #ebb576;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.hero__content h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.hero__content p {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.services__paragraph {
  color: #555555;
  font-size: 12px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-align: center;
}
.services__types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.services__types__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services__types__icon {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebb576;
  border-radius: 50%;
  margin: auto;
  color: #fff;
}
.services__types__icon:hover {
  background-color: #696969;
}
.services__types .icon {
  font-size: 35px;
}

.ourBakery_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f7f7f7;
}
.ourBakery_container__img {
  background-image: url(../../images/img-6.jpg);
  background-size: cover;
  background-position: top;
  height: 550px;
  width: 50%;
}
.ourBakery_container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 60px;
  color: black;
}
.ourBakery_container__text h2 {
  margin-bottom: 10px;
  position: relative;
}
.ourBakery_container__text h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ebb576;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.ourBakery_container__text p {
  margin: 20px 0;
}
.ourBakery_container__text .offer__button {
  display: flex;
  justify-content: start;
  align-items: start;
}
.ourBakery_container__text .btn {
  background-color: #ebb576;
  border: none;
  border-radius: 8px;
  color: #fff;
}
.ourBakery_container__text .btn:hover {
  color: #ebb576;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
  border: 2px solid #ebb576;
}
@media (max-width: 768px) {
  .ourBakery_container {
    flex-direction: column;
  }
  .ourBakery_container__img, .ourBakery_container__text {
    width: 100%;
  }
  .ourBakery_container__img {
    height: 300px;
  }
}

.offer {
  margin-bottom: 50px;
}
.offer__cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
}
.offer__button {
  text-align: center;
  margin: 10px 0;
}

.statistics {
  background-image: url("/images/pattern-1.jpg");
  position: relative;
}
.statistics::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(235, 181, 118, 0.95);
}
.statistics .columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 50px 0;
}
.statistics .columns__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
.statistics .columns__box__number {
  position: relative;
  color: #fff;
  font-size: 48px;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
}
.statistics .columns__box__number::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  bottom: -15px;
  left: calc(50% - 15px);
}
.statistics .columns__box__name {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}

.chefs {
  margin-bottom: 50px;
}
.chefs__paragraph {
  color: #555555;
  font-size: 12px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.chefs__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.chefs__grid__chef {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
  background-color: #f7f7f7;
  text-align: center;
}
.chefs__grid__chef img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}
.chefs__grid__chef .chef-name {
  color: #555555;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
}
.chefs__grid__chef .chef-description {
  color: #696969;
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}

.feedback {
  background-image: url(../../images/parallax-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  padding: 80px 0;
  position: relative;
}
.feedback::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}
.feedback__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.feedback__content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.feedback__content p {
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  position: relative;
  margin-bottom: 25px;
}
.feedback__content p::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.feedback__content span {
  color: #ebb576;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.order {
  margin-bottom: 60px;
}
.order form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "child1 child1 child2 child2 " "child3 child3 child4 child4 " "child5 child5 child6 child6" "child7 child7 child7 child7" "child8 child8 child8 child8 ";
  gap: 10px;
  margin-bottom: 25px;
}
.order form input {
  font-weight: normal;
  font-size: 14px;
  color: #696969;
  height: 42px;
  box-shadow: none;
  padding: 0 10px;
  outline: 0;
  border: 1px solid #e1e1e1;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}
.order form textarea {
  padding: 12px;
  box-shadow: none;
  border: 1px solid #e1e1e1;
}
.order .child1 {
  grid-area: child1;
}
.order .child2 {
  grid-area: child2;
}
.order .child3 {
  grid-area: child3;
}
.order .child4 {
  grid-area: child4;
}
.order .child5 {
  grid-area: child5;
}
.order .child6 {
  grid-area: child6;
}
.order .child7 {
  grid-area: child7;
}
.order .child8 {
  grid-area: child8;
}
.order .btn {
  text-transform: uppercase;
  background-color: #ebb576;
  border: none;
  border-radius: 8px;
  color: #fff;
}
.order .btn:hover {
  color: #ebb576;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
  border: 2px solid #ebb576;
}

.blog {
  padding: 40px 0;
  background-color: #f7f7f7;
}
.blog__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.blog__grid img {
  width: 340px;
  height: 165px;
}
.blog__grid .blog-text {
  text-align: center;
  color: #555555;
  margin-bottom: 10px;
}
.blog__grid .blog-span1 {
  margin-left: 50px;
  color: #555555;
}
.blog__grid .blog-span1 .icon {
  font-size: 14px;
}

.menu-image {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.menu-image img {
  width: 378px;
  height: 280px;
  object-fit: cover;
}

.card {
  display: flex;
  width: 50%;
  padding: 0 15px;
}
.card img {
  border-radius: 50%;
  margin-right: 20px;
  width: 130px;
  height: 130px;
}
.card p {
  line-height: 24px;
}
.card__price {
  color: #ebb576;
}

.title {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  position: relative;
}
.title::before {
  content: "";
  background-color: #ddd;
  height: 2px;
  width: 150px;
  position: absolute;
  bottom: -12px;
}
.title::after {
  content: "";
  background-color: #ebb576;
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: -12px;
}

.btn {
  border: 2px solid #555555;
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
}
.btn:hover {
  color: white;
  background-color: #555555;
  transition: 0.3s all ease-in-out;
}

.container {
  width: 80%;
  margin: auto;
}/*# sourceMappingURL=main.css.map */