.navmenu__link {
  color: #555555;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.card--font {
  text-transform: capitalize;
  color: #555555;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.card__content--font {
  color: #696969;
  font-size: 13px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}

.card__content__price--font {
  color: #ebb576;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
}

.title--font {
  text-transform: uppercase;
  color: #555555;
  font-size: 18px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
}

.btn--font {
  text-transform: uppercase;
  text-decoration: none;
  color: #555555;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.header img {
  width: 110px;
  height: auto;
}
.header .navmenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.header .navmenu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.header .navmenu__list .navmenu__link:hover {
  color: #ebb576;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}
.header .navmenu__list .navmenu__link:first-child {
  color: #ebb576;
}
.header .btn:hover {
  color: #ebb576;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
  border: 2px solid #ebb576;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url(../../images/slide-1.jpg);
  background-size: cover;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 650px;
  text-align: center;
}
.hero__content span {
  text-transform: uppercase;
  color: #ebb576;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.hero__content h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.hero__content p {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.services__paragraph {
  color: #555555;
  font-size: 12px;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-align: center;
}
.services__types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.services__types__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services__types__icon {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebb576;
  border-radius: 50%;
  margin: auto;
  color: #fff;
}
.services__types__icon:hover {
  background-color: #696969;
}

.ourBakery_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}
.ourBakery_container__img {
  background-image: url(../../images/img-6.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 50%;
}
.ourBakery_container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
  background-color: #fff;
  color: black;
}
.ourBakery_container__text h2 {
  margin-bottom: 10px;
  position: relative;
}
.ourBakery_container__text h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ebb576;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.ourBakery_container__text p {
  margin: 20px 0;
}
.ourBakery_container__text .read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ebb576;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .ourBakery_container {
    flex-direction: column;
  }
  .ourBakery_container__img, .ourBakery_container__text {
    width: 100%;
  }
  .ourBakery_container__img {
    height: 300px;
  }
}

.offer__cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
}
.offer__button {
  text-align: center;
  margin: 10px 0;
}

.card {
  display: flex;
  width: 50%;
  padding: 0 15px;
}
.card img {
  border-radius: 50%;
  margin-right: 20px;
  width: 130px;
  height: 130px;
}
.card p {
  line-height: 24px;
}
.card__price {
  color: #ebb576;
}

.title {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  position: relative;
}
.title::before {
  content: "";
  background-color: #ddd;
  height: 2px;
  width: 150px;
  position: absolute;
  bottom: -12px;
}
.title::after {
  content: "";
  background-color: #ebb576;
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: -12px;
}

.btn {
  border: 2px solid #555555;
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
}
.btn:hover {
  color: white;
  background-color: #555555;
  transition: 0.3s all ease-in-out;
}

.container {
  width: 80%;
  margin: auto;
}/*# sourceMappingURL=main.css.map */