* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
::selection {
  color: $white-color;
  background: $main-color;
}
